#contact {
    background-color: var(--main-color);
    color: black;
    padding-bottom: 200px;
}

#contact-title {
    text-align: center;
    font-size: 4vw;
}

#contact-hr {
    border: 2px solid var(--accent-color);
    padding: 0;
}

#contact-grid {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50vw;
    transform: translateX(-50%);
    width: 35vw;
    grid-auto-flow: column;
    gap: 50px;
}

.contact-img {
    width: auto;
    height: 100px;
}

.contact-link:hover {
    filter: invert(49%) sepia(15%) saturate(3172%) hue-rotate(125deg) brightness(94%) contrast(83%);
}

#back-links {
    margin-top: 100px;
    text-align: center;
}

#back-links a {
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
}

#back-links a:hover {
    color: var(--accent-color);
}

#back-links p:hover {
    color: var(--accent-color);
    cursor: pointer;
}