.Poly_22_290 {
    animation: 0.7s linear 0s 1 normal forwards running Poly_22_290;
    width: 51px;
}
@keyframes Poly_22_290 {
    0% {
        width: 51px;
    }
    28.57% {
        width: 51px;
    }
    64.29% {
        width: 0.01px;
    }
    100% {
        width: 51px;
    }
}
.Poly_21_250 {
    animation: 0.7s linear 0s 1 normal forwards running Poly_21_250;
    width: 51px;
}
@keyframes Poly_21_250 {
    0% {
        width: 51px;
    }
    28.57% {
        width: 51px;
    }
    64.29% {
        width: 0.01px;
    }
    100% {
        width: 51px;
    }
}
.Poly_20_79 {
    animation: 0.7s linear 0s 1 normal forwards running Poly_20_79;
    transform: translateX(308px) translateY(97px);
    width: 51px;
}
@keyframes Poly_20_79 {
    0% {
        /* transform: translateX(308px) translateY(97px); */
        width: 51px;
    }
    28.57% {
        width: 51px;
    }
    64.29% {
        width: 0.01px;
    }
    100% {
        width: 51px;
        /* transform: translateX(308px) translateY(97px); */
    }
}
.Poly_19_575 {
    animation: 0.7s linear 0s 1 normal forwards running Poly_19_575;
    width: 51px;
}
@keyframes Poly_19_575 {
    0% {
        width: 51px;
    }
    28.57% {
        width: 51px;
    }
    64.29% {
        width: 0.01px;
    }
    100% {
        width: 51px;
    }
}
.Poly_18_220 {
    animation: 0.7s linear 0s 1 normal forwards running Poly_18_220;
    width: 51px;
}
@keyframes Poly_18_220 {
    0% {
        width: 51px;
    }
    28.57% {
        width: 51px;
    }
    64.29% {
        width: 0.01px;
    }
    100% {
        width: 51px;
    }
}
.Poly_17_770 {
    animation: 0.7s linear 0s 1 normal forwards running Poly_17_770;
    width: 51px;
}
@keyframes Poly_17_770 {
    0% {
        width: 51px;
    }
    28.57% {
        width: 51px;
    }
    64.29% {
        width: 0.01px;
    }
    100% {
        width: 51px;
    }
}
.Poly_16_501 {
    animation: 0.7s linear 0s 1 normal forwards running Poly_16_501;
    width: 51px;
}
@keyframes Poly_16_501 {
    0% {
        width: 51px;
    }
    28.57% {
        width: 51px;
    }
    64.29% {
        width: 0.01px;
    }
    100% {
        width: 51px;
    }
}
.Poly_15_672 {
    animation: 0.7s linear 0s 1 normal forwards running Poly_15_672;
    width: 51px;
}
@keyframes Poly_15_672 {
    0% {
        width: 51px;
    }
    28.57% {
        width: 51px;
    }
    64.29% {
        width: 0.01px;
    }
    100% {
        width: 51px;
    }
}
.Poly_14_938 {
    animation: 0.7s linear 0s 1 normal forwards running Poly_14_938;
    width: 51px;
}
@keyframes Poly_14_938 {
    0% {
        width: 51px;
    }
    28.57% {
        width: 51px;
    }
    64.29% {
        width: 0.01px;
    }
    100% {
        width: 51px;
    }
}
.Poly_13_697 {
    animation: 0.7s linear 0.1s 1 normal forwards running Poly_13_697;
    width: 51px;
}
@keyframes Poly_13_697 {
    0% {
        width: 51px;
    }
    14.29% {
        width: 51px;
    }
    50% {
        width: 0.01px;
    }
    85.71% {
        width: 51px;
    }
    100% {
        width: 51px;
    }
}
.Poly_12_539 {
    animation: 0.7s linear 0.1s 1 normal forwards running Poly_12_539;
    width: 51px;
}
@keyframes Poly_12_539 {
    0% {
        width: 51px;
    }
    14.29% {
        width: 51px;
    }
    50% {
        width: 0.01px;
    }
    85.71% {
        width: 51px;
    }
    100% {
        width: 51px;
    }
}
.Poly_11_898 {
    animation: 0.7s linear 0.1s 1 normal forwards running Poly_11_898;
    width: 51px;
}
@keyframes Poly_11_898 {
    0% {
        width: 51px;
    }
    14.29% {
        width: 51px;
    }
    50% {
        width: 0.01px;
    }
    85.71% {
        width: 51px;
    }
    100% {
        width: 51px;
    }
}
.Poly_10_345 {
    animation: 0.7s linear 0.1s 1 normal forwards running Poly_10_345;
    width: 51px;
}
@keyframes Poly_10_345 {
    0% {
        width: 51px;
    }
    14.29% {
        width: 51px;
    }
    50% {
        width: 0.01px;
    }
    85.71% {
        width: 51px;
    }
    100% {
        width: 51px;
    }
}
.Poly_9_595 {
    animation: 0.7s linear 0.1s 1 normal forwards running Poly_9_595;
    width: 51px;
}
@keyframes Poly_9_595 {
    0% {
        width: 51px;
    }
    14.29% {
        width: 51px;
    }
    50% {
        width: 0.01px;
    }
    85.71% {
        width: 51px;
    }
    100% {
        width: 51px;
    }
}
.Poly_8_285 {
    animation: 0.7s linear 0.1s 1 normal forwards running Poly_8_285;
    width: 51px;
}
@keyframes Poly_8_285 {
    0% {
        width: 51px;
    }
    14.29% {
        width: 51px;
    }
    50% {
        width: 0.01px;
    }
    85.71% {
        width: 51px;
    }
    100% {
        width: 51px;
    }
}
.Poly_7_501 {
    animation: 0.7s linear 0.1s 1 normal forwards running Poly_7_501;
    width: 51px;
}
@keyframes Poly_7_501 {
    0% {
        width: 51px;
    }
    14.29% {
        width: 51px;
    }
    50% {
        width: 0.01px;
    }
    85.71% {
        width: 51px;
    }
    100% {
        width: 51px;
    }
}
.Poly_6_277 {
    animation: 0.7s linear 0s 1 normal forwards running Poly_6_277;
    transform: translateX(84px) translateY(145px);
    width: 51px;
}
@keyframes Poly_6_277 {
    0% {
        width: 51px;
    }
    35.71% {
        width: 0.01px;
    }
    71.43% {
        width: 51px;
    }
    100% {
        width: 51px;
    }
}
.Poly_5_665 {
    animation: 0.7s linear 0s 1 normal forwards running Poly_5_665;
    width: 51px;
}
@keyframes Poly_5_665 {
    0% {
        width: 51px;
    }
    35.71% {
        width: 0.01px;
    }
    71.43% {
        width: 51px;
    }
    100% {
        width: 51px;
    }
}
.Poly_4_851 {
    animation: 0.7s linear 0s 1 normal forwards running Poly_4_851;
    transform: translateX(224px) translateY(97px);
    width: 51px;
}
@keyframes Poly_4_851 {
    0% {
        transform: translateX(224px) translateY(97px);
        width: 51px;
    }
    35.71% {
        width: 0.01px;
    }
    71.43% {
        width: 51px;
    }
    100% {
        width: 51px;
        transform: translateX(224px) translateY(97px);
    }
}
.Poly_3_375 {
    animation: 0.7s linear 0s 1 normal forwards running Poly_3_375;
    width: 51px;
}
@keyframes Poly_3_375 {
    0% {
        width: 51px;
    }
    35.71% {
        width: 0.01px;
    }
    71.43% {
        width: 51px;
    }
    100% {
        width: 51px;
    }
}
.Poly_2_930 {
    animation: 0.7s linear 0s 1 normal forwards running Poly_2_930;
    width: 51px;
}
@keyframes Poly_2_930 {
    0% {
        width: 51px;
    }
    35.71% {
        width: 0.01px;
    }
    71.43% {
        width: 51px;
    }
    100% {
        width: 51px;
    }
}
.Poly_1_358 {
    animation: 0.7s linear 0s 1 normal forwards running Poly_1_358;
    transform: translateX(224px) translateY(0px);
    width: 51px;
}
@keyframes Poly_1_358 {
    0% {
        transform: translateX(224px) translateY(0px);
        width: 51px;
    }
    35.71% {
        width: 0.1px;
    }
    71.43% {
        width: 51px;
    }
    100% {
        width: 51px;
        transform: translateX(224px) translateY(0px);
    }
}
