@use 'variables' as *;
@use 'fonts' as *;

body {
    margin: 0;
    padding: 0;

    background-color: $bg-color;
    color: $text-primary;
    font-family: $font-primary;
    font-size: $font-size;
}

h1 {
    font-size: $h1-size;
}

hr {
    border: none;
    height: 1px;
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

.button {
    color: white !important;
    outline: 1px solid #565656 !important;
    height: 200px;
    width: 150px;
    flex-direction: column;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
    }
}

.button:hover {
    background-color: #565656 !important;
}
