#mobile-nav {
    text-align: center;
    margin-top: 20px;
}


#mobile-title {
	text-align: center;
}

#mobile-title h1 {
	margin-top: 25vh;
	font-size: 30vw;
	font-family: 'Pacifico', cursive;
	color: transparent;
	background-image: linear-gradient(to right, #e74c3c , #f1c40f,#3498db, #9b59b6);
	background-size: 400% 400%;
	background-clip: text;
	animation: animatedBackground 8s ease infinite;
}

@keyframes animatedBackground {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.mobile-main-hr {
	border: 1px white solid;
	margin: auto;
	margin-top: 8vh;
}

.mobile-lines {
	display: block;
	z-index: 1;
}

#mobile-first {
	width: 30%;
	animation: lines var(--line-animation) infinite;
}

#mobile-second {
	width: 45%;
	animation: lines var(--line-animation) infinite;
	animation-delay: 0.2s;
}

#mobile-third {
	width: 60%;
	animation: lines var(--line-animation) infinite;
	animation-delay: 0.4s;
}

#mobile-fourth {
	width: 70%;
	animation: lines var(--line-animation) infinite;
	animation-delay: 0.6s;
}

#mobile-fifth {
	width: 85%;
	animation: lines var(--line-animation) infinite;
	animation-delay: 0.8s;
}

@keyframes lines {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 100%;
	}
	100% {
		opacity: 0;
	}
}


#mobile-upper {
    margin-top: 20vh;
    height: 30vh;
    width: 100%;
    margin-bottom: 10vh;
}

#mobile-title1 {
    font-size: 14vw;
    font-family: 'Times New Roman', serif;
    text-align: left;
    margin-left: 12px;
}

#mobile-upper h4 {
    padding-left: 10px;
    font-size: 13px;
}

#mobile-upper span {
    color: #FF8200;
}

#mobile-skills {
    display: flex;
    background-color: #2197A9;
    color: black;
	padding-bottom: 50px;
    margin-top: 20vh;
    align-items: center;
    flex-direction: column;
}

#mobile-skills h1 {
    font-family: 'Pacifico', cursive;
    font-size: 12vw;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.mobile-skills-flex {
    display: flex;
    width: 90%;
    align-items: center;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.mobile-skills-flex div {
    background-color: #4cbbcd;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 5px 20px black;
}

.mobile-skills-flex div h3 {
    margin-top: 20px;
    font-size: 8vw;
}

.mobile-skills-flex div hr {
    margin-top: 20px;
}

.mobile-skills-flex div p {
    margin: 10px;
    text-align: left;
    font-size: 5vw;
}