#fixed {
	position: fixed;
	top: 0;
	left: 0;
	margin: auto;
	width: 100%;
	background-color: none;
	padding-bottom: 15px;
}

#navbar {
	display: inline;
	font-size: 1em;
}

.nav-list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 5vh;
}

.nav-item2 {
	list-style: none;
	margin-right: 2rem;
}

.nav-item2 a {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: black;
}

.first {
	margin-right: auto;
	margin-left: 2rem;
}

.nav-item2 a:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #16a085;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
  
.nav-item2 a:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}