#contact {
    /* background-color: var(--main-color); */
    color: white;
    padding-bottom: 200px;
}

#contact-title {
    text-align: center;
    font-size: 40px;
}

#contact-hr {
    border: 2px solid var(--accent-color);
    padding: 0;
}

#contact-grid {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50vw;
    transform: translateX(-50%);
    width: 35vw;
    grid-auto-flow: column;
    gap: 50px;
}

.contact-img {
    width: auto;
    height: 70px;
}

.contact-link:hover {
    filter: invert(31%) sepia(97%) saturate(900%) hue-rotate(252deg) brightness(84%) contrast(86%);
}

#back-links {
    margin-top: 100px;
    text-align: center;
}

#back-links a {
    display: block;
    position: relative;
    text-decoration: none;
    color: white;
}

#back-links p:hover {
    color: #4cbbcd;
    cursor: pointer;
}