@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

#skills {
    display: flex;
    /* background-color: #2197A9; */
    background-color: black;
    color: #4cbbcd;
    /* height: 100vh; */
    margin-bottom: 150px;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

#skills h1 {
    font-family: 'Pacifico', cursive;
    font-size: 5vw;
    padding-top: 50px;
    text-align: center;
    margin-bottom: 40px
}

.skills-flex {
    display: flex;
    color: black;
    width: 80%;
    align-items: center;
    flex-direction: row;
    align-items: stretch;
    gap: 5vw;
}

.skills-flex div {
    background-color: black;
    border: 2px solid #4cbbcd;
    color: white;
    width: 33%;
    /* height: 500px; */
    border-radius: 25px;
    text-align: center;
    /* box-shadow: 5px 5px 20px black; */
}

.skills-flex div h3 {
    margin-top: 20px;
    font-size: 2.5vw;
}

.skills-flex div hr {
    margin-top: 20px;
}

.skills-flex div p {
    margin: 10px;
    text-align: left;
    font-size: 2vw;
}

#about-link {
    text-align: center;
    font-size: 1.5vw;
    padding-top: 15vh;
}

#about-link a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: black;
}

#about-link a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#about-link a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width: 900px) {
    .skills-flex {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .skills-flex div {
        width: 75%;
        height: 33%;
    }
}